html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
margin : 0;
padding : 0;
}
h1, h2, h3, h4, h5, h6 {
font-size : 100%;
font-weight : normal;
}
ul {
list-style : none;
}
button, input, select, textarea {
margin : 0;
}
html {
box-sizing : border-box;
}
*, *::before, *::after {
box-sizing : inherit;
}
img, video {
height : auto;
max-width : 100%;
}
iframe {
border : 0;
}
table {
border-collapse : collapse;
border-spacing : 0;
}
td, th {
padding : 0;
}
td:not([align]), th:not([align]) {
text-align : left;
}
* {
box-sizing : border-box;
}
a {
text-decoration : none;
color : blue;
}
.main {
width : 80%;
margin : 5px auto;
}
img {
width : 300px;
height : 200px;
}
.logo img {
height : 80px;
width : 80px;
}
.hebegements {
background : #F2F2F2;
border-radius : 0 25px 25px 0;
}
.populaires {
background : #F2F2F2;
border-radius : 30px 0 0 30px;
}
.pied {
background : #F2F2F2;
padding : 15px;
}
@font-face {

font-family : "Raleway-Regular";
src : url(police/Raleway-Regular.ttf) format('truetype');
font-weight : normal;
font-style : normal;

}
@font-face {

font-family : "Raleway-ExtraBold";
src : url(police/Raleway-ExtraBold.ttf) format('truetype');

}
body {
font-family : "Raleway-Regular", Arial, serif;
}
h1, input::placeholder, h2, .hotel:nth-child(2),.filtre p {
font-family : "Raleway-ExtraBold", Arial, serif;
}
.logo {
display : flex;
flex-wrap : wrap;
justify-content : space-between;
align-items : center;
}
.nav ul {
display : flex;
flex-wrap : wrap;
}
.nav li {
margin-left : 80px;
}
.filtre {
display : flex;
flex-wrap : wrap;
align-items : center;
}
.nav2 li {
transition : all 1s;
}
.nav2 li:hover {
transform : scale(1.2);
}
form p {
margin : 15px;
}
input {
padding : 6px;
}
label {
background : blue;
color : #fff;
padding : 5px 25px 7px 0;
border-radius : 0 25px 25px 0;
}
.invisible{display: none}
.nav2 li {
border : silver solid 2px;
padding : 5px 10px 5px 0;
border-radius : 15px;
}
.info {
margin-top : 10px;
}
.active a {
color : #000;
}
.nav2 a {
color : #000;
font-family : Raleway-ExtraBold;
}
.position {
background : silver;
padding : 5px 5px 7px 5px;
}
.nav2 span {
color : blue;
border : silver solid 1px;
border-radius : 50%;
background : #DEEBFF;
padding : 6px;
}
.info span {
border : silver solid 1px;
border-radius : 50%;
color : blue;
padding : 4px;

}
.info {
margin-top : 20px;
}
.section {
display : flex;
flex-wrap : wrap;
margin : 10px;
}
.hebegements h2, .populaires h2 {
padding : 20px;
}
.img-hebergement div {
background : #fff;
margin : 10px;
}
.img-hebergement img {
padding : 6px;
border-radius : 25px 25px 0 0;
}
.img-hebergement div {
border-radius : 25px;
}
.hebegements {
flex : 1 60%;
margin-right : 10px;
}
.populaires {
flex : 1 30%;
}
.activites {
flex : 1 100%;
}
.afficher {
padding : 0 0 10px 20px;
}
.img-hebergement {
display : flex;
flex-wrap : wrap;
justify-content : space-around;
}
.plus img {
width : 150px;
height : 150px;
border-radius : 25px 0 0 25px;
padding : 6px;
}
.plus {
display : flex;
flex-wrap : wrap;
background : #fff;
border-radius : 25px;
margin : 10px 10px 50px 10px;
}
.img-populaires {
display : flex;
}
.plus div {
padding : 10px 4px 0 5px;
}
h2 span {
padding-left : 300px;
}
.star {
color : blue;
}
.star span {
color : silver;
}
.plus .star {
padding-top : 60px;
}
.activites h2 {
margin : 20px;
}

.marseille p {
font-family : Raleway-ExtraBold;
padding : 4px 0 10px 10px;
}
.marseille {
display : flex;
flex-wrap : wrap;
justify-content : space-between;
}
.vieux {
border : silver solid 1px;
border-radius : 25px;
background : #fff;
box-shadow : 2px 2px 5px #000;
}
.vieux img {
border-radius : 25px 25px 0 0;
height : 455px;
}
.fort img {
border-radius : 25px 25px 0 0;
}
.fort div {
margin-bottom : 15px;
border : silver solid 1px;
border-radius : 25px;
background : #fff;
box-shadow : 2px 2px 10px rgba(0,0,0,0.3);
}
.notre div {
margin-bottom : 15px;
border : silver solid 1px;
border-radius : 25px 0 0 25px;
box-shadow : 2px 2px 15px #000;
}
.notre img {
border-radius : 25px 0 0 0;
}
.pied {
display : flex;
flex-wrap : wrap;
justify-content : space-between;
margin-top : 20px;
}
.pied li {
margin-top : 8px;
}
@media all and (max-width: 1881px) {
.hebergements, .populaires {
flex : 1 100%;margin: 20px;
}
}
@media all and (max-width: 1881px) {
.marseille {
justify-content : space-around;
}
}
@media all and (max-width: 1207px) {
.nav2 ul {
flex-direction : column;
margin-top : 10px;
}
.nav2 li {
margin-top : 10px;
}
.activites div{margin-bottom: 20px;} 
}
@media all and (max-width: 696px) {
h2 {
text-align : center;
}
.nav1 ul  {
flex-direction : column-reverse;
margin-top : 10px;
}
.pied{flex-direction : column}
.nav1 li {
margin-top : 5px;
}
.lien1 a,.lien2 a{color:#044EF8 ;}
.lien1 a{border-bottom: 4px solid #044EF8;}


label{display: none;}
.invisible{display: inline-block;width: 45px;height: 31px;background:blue;padding:10px;
	border-radius: 25%;transform: translate(-20px,8px);color: #fff;font-size: 1.2em
	
	
}

.activites div{margin-bottom: 25px;}
.activites h2{text-align: left}
.notre div{border-radius: 25px;}
.notre img{border-radius: 25px 25px 0 0;}
.pied h2 {
text-align : left;
}
.vieux img{height: 200px;}
.pied a{color: #000}
.populaires,.hebegements{margin:20px auto;}
.populaires h2,.hebegements h2{text-align: left;}
.populaires h2 span{display: inline-block;transform: translate(30px,-18px);}
.pied{margin:auto;flex:1 100%;}


.hebegements{order:2;}
.activites{order:3;}

}
@media all and ( max-width: 458px ){
	h1{margin-top: 25px;}
	.logo{position:relative;}
	.nav1 li:nth-child(1){;position: relative;width: 246px;margin:0;left:  -226px;top:7px;border-bottom: 4px solid blue;text-align: center;padding-bottom: 10px;}
	.nav1 li:nth-child(2){position: relative;margin:0;top:40px;text-align: center;width:242px;border-bottom: 4px solid silver;padding-bottom: 10px;right: -20px}
	.nav1 li:nth-child(3){background: ;position: relative;margin:0;top:30px;left:120px;}
	.populaires{border-radius: 0}
	.main{width:100%;}
	.filtre{flex-direction: column;align-items: flex-start;}
	.filtre ul{width: 414px}
	.filtre li{margin-left: 0}
	.filtre li:nth-child(1){width: 150px;order:1;}
	.filtre li:nth-child(2){width: 110px;order:4;align-self: flex-end;transform: translateY(-128px);}
	.filtre li:nth-child(3){width: 150px;;order:2;}
	.filtre li:nth-child(4){width: 200px;order:3;}
	.tete h1{font-size:1.7em }
	



}