/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

*{box-sizing: border-box;}
a{text-decoration: none;color:blue;}
.main{width: 980px;margin:5px auto;}

/*La police de la page*/
@font-face{	font-family: "Raleway-Regular";src:url(police/Raleway-Regular.ttf) format('truetype');font-weight: normal;
font-style: normal;}
@font-face{	font-family: "Raleway-ExtraBold";src:url(police/Raleway-ExtraBold.ttf) format('truetype');}
body{font-family:"Raleway-Regular",Arial,serif;}

/*debut header*/
		/*police*/
h1,input::placeholder{font-family:"Raleway-ExtraBold",Arial,serif;}
		/*Flexbox logo et nav*/
.logo{display: flex;flex-wrap: wrap;justify-content: space-between;align-items:  center;}
.nav ul{display: flex;flex-wrap: wrap;}
.nav li{margin-left: 80px;}

.filtre{display:flex;flex-wrap: wrap;align-items: center}
		/*formulaire*/
form p{margin:15px;}
input{padding:6px;}
label{background: blue;color: #fff;padding: 5px 25px 7px 0;border-radius: 0 25px 25px 0;}
		/*filtre*/
.nav2 li{border:2px solid silver;padding: 5px 10px 5px 0;border-radius: 15px;}
.info{margin-top: 10px;}
		/*navigation */
.active a{color: #000}
.nav2 a{color:#000;font-family:Raleway-ExtraBold }

		/*Font Awesome champ de recharche nav2 et information*/
.position{background: silver;padding: 5px 5px 7px 5px;}	
.nav2 span{color: blue;border:1px solid silver;border-radius: 50%;background: silver;padding:6px ;}
.info span{border:1px solid silver;border-radius: 50%;color:blue;padding:2px;}
.info{margin-top:20px;}	

/*fin header*/



